.body {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 1em;
}

.col{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.row-1{
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 20px;
}
